<div class="edit-container">
  <div class="links">
    <a class="disabled-link">Главная / </a>  <a class="link">Редактировать профиль</a>
  </div>

  <div class="flex-container">
    <div class="flex-item">
      <p>Изменить данные</p>
      <form class="edit-form">
        <div class="edit-form-group">
          <div class="form-element">
            <label for="inputName">Имя</label><br>
            <input id="inputName" name="name" placeholder="Введите имя"/>
          </div>
          <div class="form-element">
            <label for="inputSurname">Фамилия</label><br>
            <input id="inputSurname" name="surname" placeholder="Введите фамилию"/>
          </div>
          <div class="form-element">
            <label for="phone">Номер телефона</label><br>
            <input id="phone" name="phone" placeholder="+7" type="text"/>
          </div>
          <div>
            <button class="edit-button form-element" type="submit">
              Сохранить
            </button>
          </div>

        </div>

      </form>
    </div>
    <div class="flex-item">
      <p>Изменить пароль</p>
      <form class="edit-form">
        <div class="edit-form-group">
          <div class="form-element">
            <label for="inputOldPassword">Старый пароль</label><br>
            <input id="inputOldPassword" name="old-password" placeholder="Введите старый пароль"/>
          </div>
          <div class="form-element">
            <label for="inputNewPassword">Новый пароль</label><br>
            <input id="inputNewPassword" name="new-password" placeholder="Введите новый пароль"/>
          </div>
          <div class="form-element">
            <label for="confirmPassword">Подтверждение пароля</label><br>
            <input id="confirmPassword" name="confirm_password" placeholder="Подтвердите пароль"/>
          </div>
          <div>
            <button class="edit-button form-element" type="submit">
              Изменить
            </button>
          </div>

        </div>

      </form>


    </div>

  </div>


</div>
